
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
{% if product.metafields.custom.photo_gallery.value == blank%}
<style>
  #shopify-section-{{section.id}}{
    display: none;
  }
</style>
{% endif %}
{% if product.metafields.custom.photo_gallery.value != blank%}
<div class="wide-container">
  
  <div class="product-gallery-content align-center reading-width ">
    <h2>{{section.settings.heading}}</h2>
    <div class="rte align-center">
      {{section.settings.text}}
    </div>
  </div>

  <script>
    {{product.metafields.custom.photo_gallery.value | json }}
  </script>
  <div class="product-gallery_block-container swiper product-gallery-swiper">
    <div class="swiper-wrapper">
      {% assign gallery_images = product.metafields.custom.photo_gallery.value %}
      {% for image in gallery_images %}
        <div class="swiper-slide product-gallery_block-content" style="position:relative;" data-id="{{section.id | append: forloop.index}}">
          {% if image != blank %}
              {% render 'responsive-image', image:image %}
          {% endif %}

          <div class="hover-text">
            {{section.settings.image_hover_text}} 
          </div>
        </div>
      {% endfor %}
    </div>
    <a href="#" class="swiper-button-prev product-gallery__swiper-button-prev" aria-label="{{ 'general.accessibility_labels.previous' | t | escape }}">{% render 'svg-chevron-left' %}</a>
    <a href="#" class="swiper-button-next product-gallery__swiper-button-next" aria-label="{{ 'general.accessibility_labels.next' | t | escape }}">{% render 'svg-chevron-right' %}</a>
  </div>
  
  
    {% assign gallery_images = product.metafields.custom.photo_gallery.value %}
  	{% assign gallery_image_products = product.metafields.custom.photo_gallery_products.value %}

    {% for image in gallery_images %}
      <div class="product-gallery__modal" data-id="{{ section.id | append: forloop.index}}">
        {% assign image_index = forloop.index %}
        <div class="product-gallery__modal-inner">
          <div class="product-gallery__button" data-action="prev">
            {% render 'svg-chevron-left' %}
          </div>
        {% if image != blank %}
        	{% render 'responsive-image', image:image, class: "model-image" %}
        {% endif %}
          
          
        {% for _p in gallery_image_products %}
          {% if image_index == forloop.index %}
        	{% render 'product-block', product: _p, product_class: "whole product-gallery__product-block", i: forloop.index, animate: animate_delay, show_vendor: false, hide_swatches: true %}
          {% endif %}
        {% endfor %}
          
          <div class="product-gallery__button" data-action="next">
            {% render 'svg-chevron-right' %}
          </div>
          
        </div>
      </div>
    {% endfor %}
  
  
</div>

<script>
  var selectors = {
    modals: '.product-gallery__modal',
    modalInner: ".product-gallery__modal-inner",
    galleryBlocks: ".product-gallery_block-content",
    pageContent: "#page-content",
    gallerySwiper: '.product-gallery-swiper',
    navigationButtons: ".product-gallery__button"
  }
  
  var galleryModals = document.querySelectorAll(selectors.modals);
  var galleryBlocks = document.querySelectorAll(selectors.galleryBlocks);
  var pageContent = document.querySelector(selectors.pageContent);
  var navigationButtons = document.querySelectorAll(selectors.navigationButtons);
      
  galleryModals.forEach(modal => {
    modal.addEventListener('click', (e) => {
      var target = e.target;
      if(target.closest(selectors.modalInner)) return;
      modal.classList.remove('active');
      pageContent.style.zIndex = 5;
    })
  })
  
  galleryBlocks.forEach(block => {
    block.addEventListener('click', (e) => {
      var index  = block.dataset.id;
      var _modal = document.querySelector(`${selectors.modals}[data-id="${index}"]`);
      _modal.classList.add('active');
      pageContent.style.zIndex = 35;
    })
  })
  
  function slideModal(counter){
    var _modal = document.querySelector(`${selectors.modals}.active`);
    if (counter == 1 && _modal.nextElementSibling){
      _modal.classList.remove('active');
      _modal.nextElementSibling.classList.add('active');
    }
    if (counter == -1 && _modal.previousElementSibling){
      _modal.classList.remove('active'); 
      _modal.previousElementSibling.classList.add('active');
    }
  }
  
  navigationButtons.forEach(btn => {
    btn.addEventListener('click', (e) => {
      if (btn.dataset.action == "prev") {
        slideModal(-1);
      }
      if (btn.dataset.action == "next") {
        slideModal(1);
      }
    })
  })
  
  new Swiper(selectors.gallerySwiper, {
    slidesPerView: 4,
    spaceBetween: 20,
    
    // Navigation arrows
    navigation: {
      nextEl: '.product-gallery__swiper-button-next',
      prevEl: '.product-gallery__swiper-button-prev',
    },
    breakpoints: {
      320: {
        slidesPerView: 1.3,
    	spaceBetween: 10,
      },
      768: {
        slidesPerView: 4,
    	spaceBetween: 20,
      }
    }
  })
</script>

<style>
  
  .product-gallery_block-container{
    position: relative;
  }
  
  .product-gallery-content{
  	margin-bottom:20px;
  }
  .product-gallery_block-content {
    height: auto;
    cursor: pointer;
}
  .product-gallery-content h2{
  	margin-bottom:0;
  }
  
  .product-gallery_block-content .rimage-outer-wrapper, 
  .product-gallery_block-content .rimage-wrapper, 
  .product-gallery_block-content .rimage__image {
    height: 100%;
    object-fit: cover;
}
  .hover-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #fff;
  	display:none;
    color:#fff;
  }
  
  
  .product-gallery_block-container .product-gallery_block-content:hover .hover-text{
    display:flex;
    align-items: center;
    justify-content: center;
	background-color:rgba(0,0,0,.41);
    width: 100%;
    height: 100%;
  }
  
  .gallery-image{
  	overflow:hidden;
  }
  
  .product-gallery_block-container .product-gallery_block-content:hover .gallery-image img{
  	transform: scale(1.2);
    transition: all .3s ease;
  }

  @media (max-width:768px){
    .product-gallery_block-container{
/*       grid-template-columns: 1fr 1fr;
      row-gap:10px; */
    }
  }
  
  
  .product-gallery__modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px;
    background: rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-gallery__modal:not(.active){
    display: none;
  }

  .product-gallery__modal-inner {
    height: 100%;
    max-height: calc(100vh - 30px);

    position: relative;
    display: flex;
    width: 100%;
    max-width: 830px;
    justify-content: space-between;
    max-height: 840px;
    height: max-content;
  }
  
  .product-gallery__button{
    position: absolute;
    top: 50%;

    width: 44px;
    height: 44px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 44px 44px;
    -webkit-background-size: 44px 44px;
    background-size: 44px 44px;
    display: flex;
    align-items: center;
    background-color: #fff;
    transition: all 80ms ease-out;
    border-radius: 50%;
    background-clip: content-box;
    color: #757575;
  }
  
  .product-gallery__button svg{
    height: 20px;
    width: 20px;
    margin: auto;
  }
  
  .product-gallery__button[data-action="prev"]{
    transform: translateX(-50px);
  }
  .product-gallery__button[data-action="next"]{
    transform: translateX(50px);
    right: 0;
  }
  .product-gallery__modal-inner > div:not(.product-gallery__button) {
    width: 100%;
    margin: 0;
  }

  .product-gallery__modal-inner .product-block {
    max-width: 270px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background: white;
  }

  .product-gallery__modal-inner .rimage-wrapper,
  .product-gallery__modal-inner .rimage-wrapper img{
    height: 100%;
    object-fit: contain;
  }
  .product-gallery__modal-inner .model-image img{
    position: relative;
  }
  .model-image{
    height: max-content;
  }

  @media(max-width: 768px){ 
    .product-gallery__modal-inner {
      flex-direction: column;
      overflow: auto;
      align-items: center;
    }
  }
  
  @media(min-width: 768px){
    .product-gallery__modal-inner > .rimage-outer-wrapper .rimage-wrapper {
      padding-top: 0 !important;
    }
  }
</style>  

{% endif %}


{% schema %}
  {
    "name": "Product Image Gallery",
	"class":"product-gallery section-spacing",
    "settings": [
		{
			"type":"paragraph",
			"content":"The images automatically comes from the 'Photo Gallery' Metafield"
		},
		{
			"type":"text",
			"id":"heading",
			"label":"Heading",
			"default":"Write Heading Here"
		},
		{
			"type":"richtext",
			"id":"text",
			"label":"text",
			"default":"<p>Write Text Here</p>"
		},
		{
			"type":"text",
			"id":"image_hover_text",
			"label":"Image Hover Text",
			"default":"Click Here"
		}
  ],
  "presets":[
    {
      "name":"Product Image Gallery"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
