
<div class="pick-your-feel">

    <div class="side-bar--feature-section">
        
        <h2 style="color: var(--color-black);margin-left: 1.5rem; margin-top: 3rem;">{{block.settings.feature_heading | newline_to_br}}</h2>
       
        <div class="side-tabs">
            <a href="{{url_link | url_encode}}" class="content-link"> {{url_text}} </a>
            {% for tab_menu_index in (1..3) %}
                {% capture tab_image %}tab_image_{{tab_menu_index}}{%endcapture%}
                {% if block.settings[tab_image] != blank %}
                    <div class="tab-menu tab-menu-{{tab_menu_index}}" data-tab-menu-index={{tab_menu_index}} style="background-image: linear-gradient(to right, rgba(21, 21, 21, 0.72), rgba(255, 255, 255, 0)), url({{block.settings[tab_image] | img_url: 'master'}});">
                        {% capture tab_text%}tab_text_{{tab_menu_index}}{%endcapture%}
                        <p class="body">{{block.settings[tab_text] | newline_to_br}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="tab-data">
        {% for tab_data_index in (1..3) %}
            {% capture tab_image %}tab_image_{{tab_data_index}}{%endcapture%}
            {% if block.settings[tab_image] != blank %}
                <div class="tab-data-element tab-data-{{tab_data_index}}" data-tab-data-index={{tab_data_index}} style="background-image: linear-gradient(to right, rgba(21, 21, 21, 0.72), rgba(255, 255, 255, 0)), url({{block.settings[tab_image] | img_url: 'master'}}); ">
                    <div class="tab-content">
                        {% capture tab_heading %}tab_heading_{{tab_data_index}}{% endcapture %}
                        {% capture tab_body %}tab_body_{{tab_data_index}}{% endcapture %}
                        <h2>{{block.settings[tab_heading] | newline_to_br }}</h2>
                        <p class="body">{{block.settings[tab_body] | newline_to_br}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


<script>
    let tab_menus = document.querySelectorAll('.tab-menu');
    let tab_data_elements = document.querySelectorAll('.tab-data-element');
    tab_menus.forEach((tab_menu) => tab_menu.addEventListener('click',function(){
    
        //removing the active class from all others
        tab_menus.forEach(tab_menu => tab_menu.classList.remove('tab-menu--active'));
        tab_menu.classList.add('tab-menu--active')

        tab_data_elements.forEach((tab_menu_element) => tab_menu_element.classList.add('hidden'));
        document.querySelector(`.tab-data-${tab_menu.dataset.tabMenuIndex}`).classList.remove('hidden');
    }));

    tab_menus[0].classList.add('tab-menu--active');
    
    tab_data_elements.forEach((tab_data_element) => tab_data_element.classList.add('hidden'));
    
    document.querySelector('.tab-data-1').classList.remove('hidden');
</script>
